/* --------------------------
  Project Variables
--------------------------- */

// Descriptive Color Variables
// ---------------------------

$copper-rose    : #a26769;
$honeydew       : #eff9f0;
$aquamarine     : #8affc1;
$sunset-orange  : #f2545b;
$silver         : #ccc;
$mine-shaft     : #222;
$transprnt-light: rgba(0, 0, 0, .2);
$transprnt-med  : rgba(0, 0, 0, .4);
$transprnt-dark : rgba(0, 0, 0, .6);
$transprnt-white: rgba(255,255,255, .2);


// Functional Color Variables
// --------------------------

$colors: (
  primary   : $copper-rose,
  secondary : $honeydew,
  tertiary  : $aquamarine,
  range     : $sunset-orange,
  border    : (
    light: $silver,
    dark : $mine-shaft
  ),
  background: (
    light   : $transprnt-light,
    medium  : $transprnt-med,
    dark    : $transprnt-dark,
    range   : $transprnt-white
  )
);


// Font Variables
// --------------

$google-fonts          : 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed';
$stack-sans-serif      : Helvetica, sans-serif;
$stack-roboto-condensed: 'Roboto Condensed', $stack-sans-serif;
$stack-sans-condensed  : 'Open Sans Condensed', $stack-sans-serif;

$font-size-default     : 16px;


// Progress Bar
// --------------

$bar-height: 10px;


// Media Query Variables
// ---------------------

$brk-tablet : "(min-width: 768px)";
$brk-desktop: "(min-width: 1150px)";


// Miscellaneous Variables
// -----------------------

$border-radius: 5px;
$max-width    : 1150px;
$trans-speed  : .3s;
$anim-speed   : .4s;