/* --------------------------
  Project Variables
--------------------------- */

// Descriptive Color Variables
// ---------------------------

$white           : #fff;
$jungle-green    : #27ae60;
$fiord           : #46586A;
$pickled-bluewood: #2c3e50;
$powder-blue     : #bee9e8;
$shadow-blue     : #788aa3;
$sunset-orange   : #f2545b;


// Functional Color Variables
// --------------------------

$color-text-light    : $white;
$color-text-title    : $fiord;

$color-btn-default   : $shadow-blue;
$color-btn-highlight : $powder-blue;

$color-volume-level  : $shadow-blue;

$color-highlight-text: $white;

$color-input-track   : $sunset-orange;
$color-volume-track  : $shadow-blue;

$bg-dark             : $pickled-bluewood;
$bg-light            : $fiord;



// Font Variables
// --------------

$stack-sans-serif      : Helvetica, sans-serif;
$stack-roboto-condensed: 'Roboto Condensed', $stack-sans-serif;
$stack-sans-condensed  : 'Open Sans Condensed', $stack-sans-serif;


// Progress Bar
// --------------

$bar-height: 14px;


// Media Query Variables
// ---------------------

$brk-tablet : "(min-width: 768px)";
$brk-desktop: "(min-width: 1024px)";


// Miscellaneous Variables
// -----------------------

$border-radius: 5px;
$max-width    : 1150px;
$trans-speed  : .3s;
$anim-speed   : .4s;