/* --------------------------
  Control Animations
--------------------------- */

// Top - Video Head
// ----------------

.video-head {
  svg {
    transition: fill $trans-speed;

    &:hover {
      cursor: pointer;
      fill  : $color-highlight;
    }    
  }
}


// Add Slide Anim to Elements
// --------------------------

#next,
#prev,
#play,
#pause,
#time-stamp,
#cc,
#unmuted,
#muted,
#fullscreen,
.sound-waves path {
  animation: slide $anim-speed forwards;
}


// Left - Group1
// -------------

#play,
#pause,
#cc {
  transform: translate3d(0, 45px, 0);

  path {
    transition: fill $trans-speed;
  }

  &:hover {
    cursor: pointer;

    path {
      fill: $color-highlight;
    }
  }
}

#time-stamp {
  transition     : color $trans-speed;
  transform      : translate3d(0, -42px, 0);
  animation-delay: .3s;

  &:hover {
    cursor: default;
    color : $color-highlight;
  }
}


// Right - Group2
// --------------

.group2 {
  g {
    transition: fill $trans-speed;
  }

  svg:hover {
    cursor: pointer;

    g:first-of-type {
      fill: $color-highlight;
    }   
  }
}


// Loop to set base translates and 
// animation delays for elements with similar 
// slide animations (cc,mute,fs,next,prev)
// ------------------------------------------

@each $icon in cc, unmuted, muted, fullscreen, next, prev {
  @if $icon == next {
    ##{$icon} {
      transform: translate3d(37px, 0, 0);
      animation-delay: .5s;
    }
  } @else if $icon == prev {
    ##{$icon} {
      transform: translate3d(-37px, 0, 0);
      animation-delay: .5s;
    }
  } @else {
    ##{$icon} {
      transform: translate3d(0, 42px, 0);
    }    
  }
}


// Animate group2 icon pieces
// --------------------------

.sound-waves path     { transform: translate3d(28px, 0, 0);    }
.screen-contents path { animation: grow $anim-speed backwards; }

.sound-waves path,
.screen-contents path {
  @for $i from 1 through 3 {
    $delay: $i / 5;
    &:nth-of-type(#{$i}) {
      animation-delay: unquote("#{$delay}s");
    }
  }
} 