/* --------------------------
  Control Animations
--------------------------- */

// Top - Video Head
// ----------------

.video-head {
  svg {
    transition: fill $trans-speed;

    &:hover {
      cursor: pointer;
      fill  : $color-highlight;
    }    
  }
}




.play,
#time-stamp,
.cc,
.unmuted,
.fullscreen,
.sound-waves path {
  animation: slide $anim-speed forwards;
}


// Left - Group1
// -------------

.play,
.cc {
  transform: translate3d(0, 45px, 0);

  path {
    transition: fill $trans-speed;
  }

  &:hover {
    cursor: pointer;

    path {
      fill: $color-highlight;
    }
  }
}

#time-stamp {
  transition     : color $trans-speed;
  transform      : translate3d(0, -42px, 0);
  animation-delay: .3s;

  &:hover {
    cursor: default;
    color : $color-highlight;
  }
}


// Right - Group2
// --------------

.group2 {
  g {
    transition: fill $trans-speed;
  }

  svg:hover {
    cursor: pointer;

    g:first-of-type {
      fill: $color-highlight;
    }   
  }
}


// Animate group2 icon containers
// ------------------------------

@each $icon, $transform, $delay in (cc, 141px, .5s),
                                   (unmuted, 90px, .7s),
                                   (fullscreen, 40px, .9s) {
  .#{$icon} {
    transform      : translate3d(#{$transform}, 0, 0);
    animation-delay: $delay;
  }
}


// Animate group2 icon pieces
// --------------------------

.sound-waves path {
  transform: translate3d(28px, 0, 0);
}

.screen-contents path {
  animation: grow $anim-speed backwards;
}

.sound-waves path,
.screen-contents path {
  @for $i from 1 through 3 {
    $delay: $i / 5 + .9;
    &:nth-of-type(#{$i}) {
      animation-delay: unquote("#{$delay}s");
    }
  }
} 