/* --------------------------
  Control Animations
--------------------------- */

// Hover Transitions
// -----------------

#prev,
#next,
#play,
#pause,
#cc,
#fullscreen,
#pb-rate,
#rewind,
#muted,
#unmuted {
  transition: fill $trans-speed;

  &:hover {
    cursor: pointer;
    fill  : $color-btn-highlight;
  }
}


// Add Slide Anim to Elements
// --------------------------

#next,
#prev,
#play,
#pause,
#time-stamp,
#cc,
#unmuted,
#muted,
#fullscreen,
#pb-rate,
#rewind,
.sound-waves path,
#dashes path {
  animation: slide $anim-speed forwards;
}


// Left - Group1
// -------------

#play,
#pause,
#cc {
  transform: translate3d(0, 45px, 0);
}

#time-stamp {
  transition     : color $trans-speed;
  transform      : translate3d(0, -42px, 0);
  animation-delay: .3s;

  &:hover {
    cursor: default;
    color : $color-btn-highlight;
  }
}


// Loop to set base translates and 
// animation delays for elements with similar 
// slide animations (cc,mute,fs,next,prev)
// ------------------------------------------

@each $icon in cc, unmuted, muted, fullscreen, next, prev, pb-rate, rewind {
  @if $icon == next {
    ##{$icon} {
      transform: translate3d(42px, 0, 0);
      animation-delay: .5s;
    }
  } @else if $icon == prev {
    ##{$icon} {
      transform: translate3d(-42px, 0, 0);
      animation-delay: .5s;
    }
  } @else {
    ##{$icon} {
      transform: translate3d(0, -40px, 0);
    }    
  }
}


// Animate group2 icon pieces
// --------------------------

.sound-waves path {
  transform: translate3d(28px, 0, 0);
}

.screen-contents path {
  animation: grow $anim-speed backwards;
}

.sound-waves path,
.screen-contents path {
  @for $i from 1 through 3 {
    $delay: $i / 5;
    &:nth-of-type(#{$i}) {
      animation-delay: unquote("#{$delay}s");
    }
  }
}

#dashes path {
  transform: translate3d(-23px, 0, 0);
  @for $i from 1 through 6 {
    $delay: $i / 10;
    &:nth-of-type(#{$i}) {
      animation-delay: unquote("#{$delay}s");
    }
  }
}


// Animate Volume Slider
// ---------------------

#volume__slider {
  animation: grow-bounce ($anim-speed * 2) backwards;
}
