/* --------------------------
  Video Control Styles
--------------------------- */

// Controls Container
// ------------------

.video {
  position: relative;
  overflow: hidden;

  &__controls {
    position        : absolute;
    right           : 0;
    bottom          : 0;
    left            : 0;
    transition      : bottom $anim-speed;
    background-color: color(background, medium);
  }
}

// Button Container
// ----------------

.buttons {
  display        : flex;
  justify-content: space-between;
  height         : 60px;
  padding        : rem(4px) rem(10px);
  overflow       : hidden;

  &__group1,
  &__group2 {
    display    : flex;
    align-items: center;
  }

  &__group2 {
    max-width      : 240px;
    flex-wrap      : wrap;
    justify-content: space-between;
  }
} 

// Button Style
.button {
  width              : 30px;
  height             : 30px;
  fill               : color(secondary);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select   : none;  /* Firefox all */
  -ms-user-select    : none;  /* IE 10+ */
  user-select        : none;  /* Likely future */
}

#play,
#pause {
  margin-right: rem(5px);
}

#pause,
#muted {
  display: none;
}

#time-stamp {
  color: color(secondary);
}