/* --------------------------
  Video Control Styles
--------------------------- */

// Controls Container
// ------------------

.controls {
  display        : flex;
  overflow       : hidden;
  justify-content: space-between;
  background     : $bg-dark;
  height         : 60px;
  padding        : 4px 10px;

  svg {
    width       : 30px;
    height      : 30px;
  }

  .cc {
    width: 31px;
  }
}

#play,
#pause {
  margin-right: 5px;
}

#pause,
#muted {
  display: none;
}

#next,
#prev {
  width: 30px;
  height: 30px;
}


// Control Elements
// ----------------

.group {
  &1,
  &2 {
    display    : flex;
    align-items: center;
  }

  &2 {
    justify-content: space-between;
    flex-wrap      : wrap;
    max-width      : 240px; 
  }
}

#time-stamp {
  color: $color-text-light;
}


// Volume Indicator
// ----------------

#vol {
  transition : color $trans-speed * 2;
  width      : 13%;
  line-height: 10px;
  text-align : center;
}

.volume {
  &-low {
    color: #ec644b;
  }

  &-med {
    color: #f5d76e
  }

  &-high {
    color: #27ae60;
  }
}