/* --------------------------
  Extended Layout Styles
--------------------------- */

%info_position {
  position: absolute;
  top     : 0;
}

%border-outline {
  border: border($color-border-light);
  outline: border($color-outline-dark);
}