/* --------------------------
  Nex/Prev Info Styles
--------------------------- */

#next_info {
  @extend %info_position;
  right: -325px;
}

#prev_info {
  @extend %info_position;
  left: -325px;
}

.info {
  display         : none;
  width           : 235px;
  padding         : rem(10px) rem(25px);
  text-align      : center;
  background-color: color(background, light);
  box-shadow      : shadow('inset', .25);
  border-radius   : $border-radius;
  opacity         : 0;
  transition      : all $anim-speed;
  
  @include mediaQuery(1650px) {
    display: block;
  }
  
  .title {
    margin-bottom: 0;
    border-bottom: 0;
  }

  p {
    padding      : rem(10px);
    margin-right : auto;
    margin-bottom: rem(8px);
    margin-left  : auto;   
    box-shadow   : shadow('inset', .4);
    border-radius: $border-radius * 4;
    border       : 1px solid;
    color        : color(primary);
  }

  img {
    max-width    : 100%;
    box-shadow   : shadow('normal', .25);
    border-radius: $border-radius;
    border       : border(color(border, dark), 2px);
  }
}