/* --------------------------
  Nex/Prev Info Styles
--------------------------- */

#next_info {
  @extend %info_position;
  right: -325px;
}

#prev_info {
  @extend %info_position;
  left: -325px;
}

.info {
  background-color: $bg-transprnt-light;
  padding         : rem(10px) rem(25px);
  box-shadow      : shadow('inset', .25);
  border-radius   : $border-radius;
  width           : 235px;
  opacity         : 0;
  transition      : all $anim-speed;
  display         : none;
  text-align      : center;

  @include mediaQuery(1650px) {
    display: block;
  }

  p {
    // border: border(#000);
    box-shadow: shadow('inset', .4);
    border-radius: $border-radius * 4;
    border: 1px solid;
    color           : $color-primary;
    text-align      : center;
    padding         : rem(10px);
    margin-bottom   : rem(8px);
    margin-left     : auto;
    margin-right    : auto; 
  }

  img {
    max-width: 100%;
    box-shadow: shadow('normal', .25);
    border-radius: $border-radius;
    border: border(#222, 2px);
  }
}