/* --------------------------
  Progress Bar Styles
--------------------------- */

.progress {
  display         : flex;
  align-items     : center;
  background-color: #46586A;
} 

#bar,
#volume-slider {
  margin            : 0;
  padding           : 0;
  height            : $bar-height;
  width             : 100%;
  -webkit-appearance: none;
  background-color  : transparent;
  cursor            : pointer;

  // Chrome Styles
  &::-webkit-slider {
    &-thumb {
      height          : $bar-height;
      width           : $bar-height;
      background-color: $color-highlight;
      border-radius   : 0;
      border          : none;
      -webkit-appearance: none;
    }

    &-runnable-track {
      height          : $bar-height;
      background-color: #46586A;
    }
  }

  // Firefox Styles
  &::-moz-range {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      background-color: $color-highlight;
      border-radius   : 0;
      border          : none;
    }

    &-track {
      height          : $bar-height;
      background-color: #46586A;
    }

    &-progress {
      background-color: $color-highlight;
      height          : $bar-height;
    }
  }
  
  // IE & Edge Styles
  &::-ms {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      background-color: $color-highlight;
      border-radius   : 0;
      border          : none;
    }

    &-track {
      height          : $bar-height;
      background-color: #46586A;
      border          : 0;
      color           : transparent;
    }

    &-fill-lower {
      background-color: $color-highlight;
    }
  }
  
  &:focus             { outline: none; }
  &::-moz-focus-outer { border: 0;     }
}

#volume-slider {
  margin-top: 3px;

  @include mediaQuery("tablet") {
    margin-top: 0;
  }
}