/* --------------------------
  Progress Bar Styles
--------------------------- */

#progress {
  position        : relative;
  height          : $bar-height;
  margin          : auto;
  background-color: color(background, range);

  &__buffered,
  &__playing {
    position: absolute;
    bottom  : 0;
    left    : 0;
  }

  &__buffered {
    height          : $bar-height;
    width           : 0;
    background-color: color(range);
    opacity         : .25;
  }
}

#progress__playing,
#volume__slider {
  height            : $bar-height;
  width             : 100%;
  margin            : 0;
  padding           : 0;
  -webkit-appearance: none;
  background-color  : transparent;
  cursor            : pointer;
  overflow          : hidden;

  // Chrome Styles
  &::-webkit-slider {
    &-thumb {
      height            : $bar-height;
      width             : 0;
      border            : none;
      border-radius     : 0;
      box-shadow        : -575px 0 0 575px color(range);
      -webkit-appearance: none;
    }

    &-runnable-track {
      background-color: transparent;
    }
  }

  // Firefox Styles
  &::-moz-range {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      border          : none;
      border-radius   : 0;
    }

    &-track {
      background-color: transparent;
      border          : none;
      outline         : none;
    }

    &-progress {
      height          : $bar-height;
      background-color: color(range);
    }
  }
  
  // IE & Edge Styles
  &::-ms {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      border          : none;
      border-radius   : 0;
      background-color: color(range);
    }

    &-track {
      border          : 0;
      color           : transparent;
      background-color: transparent;
    }

    &-fill-lower {
      height          : $bar-height;
      background-color: color(range);
    }
  }
  
  &:focus             { outline: none; }
  &::-moz-focus-outer { border: 0;     }
}


#volume {
  // Volume Slider
  &__slider {
    width           : 87%;
    height          : $bar-height - 3;
    background-color: color(background, range);

    &::-webkit-slider {
      &-thumb {
        box-shadow: -104.4px 0 0 104.4px color(tertiary);
      }
    }

    &::-moz-range-progress {
      background-color: color(tertiary);
    }
    
    &::-ms-fill-lower {
      background-color: color(tertiary);
    }
  }
  // Volume Indicator
  &__indicator {
    width      : 13%;
    line-height: $bar-height;
    text-align : center;
    color      : color(secondary);
  }
}