/* --------------------------
  Progress Bar Styles
--------------------------- */

#progress {
  position        : relative;
  height          : $bar-height;
  margin          : auto;
  background-color: $bg-light;

  &__buffered,
  &__playing {
    position: absolute;
    bottom  : 0;
    left    : 0;
  }

  &__buffered {
    height          : $bar-height;
    background-color: $color-input-track;
    opacity         : .25;
    width           : 0;
  }
}

#progress__playing,
#volume__slider {
  margin            : 0;
  padding           : 0;
  height            : $bar-height;
  width             : 100%;
  -webkit-appearance: none;
  background-color  : transparent;
  cursor            : pointer;
  overflow          : hidden;

  // Chrome Styles
  &::-webkit-slider {
    &-thumb {
      height            : $bar-height;
      width             : 0;
      background-color  : $color-input-track;
      border-radius     : 0;
      border            : none;
      -webkit-appearance: none;
      box-shadow        : -575px 0 0 575px $color-input-track;
    }

    &-runnable-track {
      background-color: transparent;
    }
  }

  // Firefox Styles
  &::-moz-range {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      border-radius   : 0;
      border          : none;
    }

    &-track {
      background-color: transparent;
      border          : none;
      outline         : none;
    }

    &-progress {
      background-color: $color-input-track;
      height          : $bar-height;
    }
  }
  
  // IE & Edge Styles
  &::-ms {
    &-thumb {
      height          : $bar-height;
      width           : 0;
      background-color: $color-input-track;
      border-radius   : 0;
      border          : none;
    }

    &-track {
      background-color: transparent;
      color           : transparent;
      border          : 0;
    }

    &-fill-lower {
      background-color: $color-input-track;
      height          : $bar-height;
    }
  }
  
  &:focus             { outline: none; }
  &::-moz-focus-outer { border: 0;     }
}


#volume {
  // Volume Slider
  &__slider {
    // $bar-height     : $bar-height * 2; // 14px
    width           : 87%;
    height          : $bar-height;
    background-color: $bg-light;

    &::-webkit-slider {
      &-thumb {
        box-shadow: -125px 0 0 125px $color-volume-track;
      }
    }

    &::-moz-range-progress {
      background-color: $color-volume-track;
    }
    
    &::-ms-fill-lower {
      background-color: $color-volume-track;
    }
  }
  // Volume Indicator
  &__indicator {
    color      : $color-volume-level;
    width      : 13%;
    line-height: 10px;
    text-align : center;
  }
}