/* --------------------------
  Base Styles
--------------------------- */

// Box Sizing
// ----------

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// Body
// ----

body {
  font-family: $stack-roboto-condensed;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}


// Video
// -----

video {
  display      : block;
  width        : 100%;
}

.video-head {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  overflow        : hidden; 
  background-color: $title-bg;
  padding         : .675em;

  @include mediaQuery(1150px) {
    margin-top             : 20px;
    border-top-left-radius : $border-radius;
    border-top-right-radius: $border-radius;
  }
}

#video-title {
  margin          : 0;
  padding         : 5px 15px;
  border-bottom:  2px solid darken(#46586A, 5%);
  border-radius   : 15px;
  background-color: #46586A; 
  color           : $white;
  font-weight     : 400;
}


// SVG
// ---

svg * {
  transform-origin: 50% 50%;
}


// Container
// ---------

.container {
  max-width   : $max-width;
  margin-left : auto;
  margin-right: auto;

  @include mediaQuery(1150px) {
    margin-bottom             : 20px;
    background                : $white;
    border-bottom             : 2px solid #bbb;
    border-radius: $border-radius;
  }
}