/* --------------------------
  Base Styles
--------------------------- */

// Box Sizing
// ----------

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// Body
// ----

body {
  font-family          : $stack-roboto-condensed;
  background-image     : url("../img/bokeh.png");
  background-position  : center center;
  background-size      : 100% 100%;
  background-attachment: fixed;
}


// Video
// -----

video {
  display: block;
  width  : 100%;
  
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.video-head {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  overflow        : hidden; 
  background-color: $bg-transprnt-light; //f56476
  box-shadow      : shadow('inset', .1);
  padding         : rem(12px);
  // Larger Screens
  @include mediaQuery(1150px) {
    border-top-left-radius : $border-radius;
    border-top-right-radius: $border-radius;
  }  
}

#video-title {
  margin        : 0;
  letter-spacing: 1px; 
  color         : $color-primary;
  font-family   : $stack-sans-condensed;
  font-weight   : normal;
  text-align    : center;
}


// SVG
// ---

svg * {
  transform-origin: 50% 50%;
}


// Container
// ---------

.container {
  max-width   : $max-width;
  margin-left : auto;
  margin-right: auto;
  position: relative;
  // Larger Screens
  @include mediaQuery(1150px) {
    margin-top   : rem(20px);
    margin-bottom: rem(20px);
    box-shadow: shadow('left-right', .4);
  }
}


// Pop Up
// ------

#pop_up {
  position        : fixed;
  left            : 0;
  right           : 0;
  top             : 0;
  opacity         : 0;
  visibility      : hidden;
  max-width       : 500px;
  margin          : auto;
  padding         : rem(30px);
  color           : $color-tertiary;
  background-color: $bg-transprnt-dark;
  box-shadow      : shadow('inset', .4);
  border-radius   : $border-radius;
  border          : border($color-tertiary, $width: 2px);
  z-index         : 1;
  transition      : all $anim-speed * 2.5;
  text-align      : center;

  .title {
    color: $color-tertiary;
  }

  img {
    margin-top: rem(20px);
    max-width : 100%;
  }
}