/* --------------------------
  Base Styles
--------------------------- */

// Box Sizing
// ----------

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// Body
// ----

body {
  font-family: $stack-roboto-condensed;
  background-image: url("../img/pattern.svg");
}


// Video
// -----

video {
  display: block;
  width  : 100%;

  &:hover {
    cursor: pointer;
  }
}

.video-head {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  overflow        : hidden; 
  background-color: $bg-dark;
  padding         : .675em;
}

#video-title {
  margin        : 0;
  letter-spacing: 1px; 
  color         : $color-text-light;
  font-family   : $stack-nunito;
  text-align    : center;
}


// SVG
// ---

svg * {
  transform-origin: 50% 50%;
}


// Container
// ---------

.container {
  max-width   : $max-width;
  margin-left : auto;
  margin-right: auto;
  overflow    : hidden;
  box-shadow  : 0 0 3px #555;

  @include mediaQuery(1150px) {
    margin-top   : 20px;
    margin-bottom: 20px;
    background   : $white;
    // border-bottom: 2px solid #bbb;
    border-radius: $border-radius;
  }
}