/* --------------------------
  Legacy Browser Update
--------------------------- */

// Legacy Notification
// -------------------

#browser_not_supported {
  display         : none;
  background-color: $color-secondary;
  max-width       : 80%;
  margin          : 36px auto;
  padding         : 32px; // PX instead of rem for legacy support.
  line-height     : 1.5;
  border          : border($color-border-light);
  text-align      : center;

  a {
    color       : $color-primary;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  h2,
  li {
    margin-bottom: 50px;
  }

  h2,
  h3 {
    color      : $color-primary;
    font-family: $stack-sans-condensed;
  } 
}

// Advantages list
// ---------------

.advantages {
  list-style: none;
  padding   : 0;
  max-width : 800px;
  margin    : auto;

  p {
    text-align: left;
  }

  img {
    margin-bottom: 10px;
  }
}

