/* --------------------------
  Legacy Browser Update
--------------------------- */

// Legacy Notification
// -------------------

#browser_not_supported {
  display         : none;
  max-width       : 80%;
  margin          : 36px auto;
  padding         : 32px; // PX instead of rem for legacy support.
  text-align      : center;
  line-height     : 1.5;.
  background-color: color(secondary);
  border          : border(color(border, light));

  a {
    margin-right: 10px;
    color       : color(primary);

    &:last-of-type {
      margin-right: 0;
    }
  }

  h2,
  li {
    margin-bottom: 50px;
  }

  h2,
  h3 {
    font-family: $stack-sans-condensed;
    color      : color(primary);
  } 
}

// Advantages list
// ---------------

.advantages {
  max-width : 800px;
  margin    : auto;
  padding   : 0;
  list-style: none;

  p {
    text-align: left;
  }

  img {
    margin-bottom: 10px;
  }
}

